<nav>
    <div class="site-title">
      <a href="#"><h1 style="color: crimson; font-weight: bold;"><span style="font-size: 80px; color: white;">Resources</span> for Bostonians</h1></a>
      <!-- <p class="crimson">Helping Bostonians</p> -->
    </div>
    <ul class=" site-links fs-5 d-flex flex-row">
      <li>
        <a href="/about" style="font-size:24px; padding: 20px;" class="about">ABOUT</a> <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="dropdown">
          <li><a href="/trivia" style="font-size:16px; margin-left: -30px;">Trivia</a></li>
          <li><a href="/quiz" style="font-size:16px; margin-left: -30px;">Quiz</a></li>
        </ul>
      </li>
      <li>
        <a href="/help" style="font-size:24px; padding: 20px;">HELP <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="dropdown">
          <li><a href="/college" style="font-size:16px; margin-left: -10px;">Colleges</a></li>
          <li><a href="/attraction" style="font-size:16px; margin-left: -30px;">Attractions</a></li>
          <li><a href="/health" style="font-size:16px; margin-left: -10px;">Health</a></li>
        </ul>
      </li>
      
      <li><a href="/create" style="font-size:24px; padding: 20px;">Create</a></li>
    </ul>
  
  </nav>
  