<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/header.ejs")%>
  <body>
    <%- include("../partials/nav.ejs")%>
    <h2>Boston Images</h2>
    <div class="about content">
        <img src="../jacob-licht-8nA_iHrxHIo-unsplash.jpg" alt="">
        <img src="../jimmy-woo-SUMtPksZXBE-unsplash (1).jpg" alt="">
        <img src="../lindsay-doyle-D3zAp0jTv5w-unsplash.jpg" alt="">
        <img src="../pexels-kristin-vogt-17632.jpg" alt="">
        <img src="../pexels-mohamed-hassan-776030.jpg" alt="">
        <img src="../pexels-mohan-nannapaneni-6142843.jpg" alt="">
        <img src="../pexels-pixabay-68543.jpg" alt="">
    </div>
    <hr>
    

    <%- include("../partials/footer.ejs")%>
  </body>
</html>