<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/header.ejs")%>
  <body>
    <%- include("../partials/nav.ejs")%>
    <h2>Boston Images</h2>
    <div class="about content">
      <img src="../black-capped-chickadee.jpg" alt="black-capped chickadee">
      <img src="../boston_flower.jpeg" alt="trailing arbutus">
      <img src="../boton-flag.png" alt="">
      <img src="../bruins-mascot.png" alt=""> 
      <img src="../celtics logo_1.jpg" alt=""> 
      <img src="../patriots-logo.png" alt="">
      <img src="../red-sox.png" alt="">
    </div>
    <hr>
    <a href="#" class="back-to-top">
      <span class="material-icons"><i class="fa-solid fa-arrow-up"></i></span>
  </a>

    <%- include("../partials/footer.ejs")%>
  </body>
</html>