<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/header.ejs")%>
  <body>
    <%- include("../partials/nav.ejs")%>
    <div class="quiz content">
        <h2>A Spooky Quiz on Boston</h2>
        <form action="">
           <p>1.  What Boston church offers a "Bell and Bones" tour?</p> 
            <div>
                <div class="group1">
                    <input type="radio" id="one" name="one">
                    <label for="one">Old North church</label>
                </div>
                <div class="group1">
                    <input type="radio" name="one">
                    <label for="one">King's Chapel</label>
                </div>
                
                <div class="group1">
                    <input type="radio" name="one">
                    <label for="one">Arlington Street Church</label>
                </div>
                <div class="group1">
                    <input type="radio" name="one">
                    <label for="one">Cathedral of the Holy Cross</label>
                </div>
                <div class="group1">
                    <input type="radio" name="one">
                    <label for="one">Park Street Church</label>
                </div>
            </div>
            <hr>
            <p>2.  In 1639, Governor John Winthrop saw:</p>
            <div>
                <div class="group1">
                    <input type="radio" name="two">
                    <label for="two">A comet in the northern sky</label>
                </div>
                <div class="group1">
                    <input type="radio" name="two">
                    <label for="two">A UFO over the Charles River</label>
                </div>
                <div class="group1">
                    <input type="radio" name="two">
                <label for="two">A ghost in the King's Chapel Burying Ground</label>
                </div>
                <div class="group1">
                    <input type="radio" name="two">
                <label for="two">A special ship in Boston's Harbor</label>
                </div>
                <div class="group1">
                    <input type="radio" name="two">
                <label for="two">A vision of his own Death</label>
                </div>
            </div>
            <hr>
            <p>3.  A haunted mirror in the Omni Parker House hotel is named for what famous guest?</p>
            <div>
                <div class="group1">
                    <input type="radio" name="three">
                <label for="three">John Wilkes Booth</label>
                </div>
                <div class="group1">
                    <input type="radio" name="three">
                <label for="three">Actress Charlotte Cushman</label>
                </div>
                <div class="group1">
                    <input type="radio" name="three">
                <label for="three">Author Charles Dickens</label>
                </div>
                <div class="group1">
                    <input type="radio" name="three">
                <label for="three">Isabella Stewart Gardner</label>
                </div>
                <div class="group1">
                    <input type="radio" name="three">
                <label for="three">Founder Harvey Parker</label>
                </div>
            </div>
            <hr>
            <p>4.  The Boston Strangler's last victim was found in January 2, 1964 on:</p>
            <div>
                <div class="group1">
                    <input type="radio" name="four">
                <label for="four">Gainsborough</label>
                </div>
                <div class="group1">
                    <input type="radio" name="four">
                <label for="four">Commonwealth Ave</label>
                </div>
                <div class="group1">
                    <input type="radio" name="four">
                <label for="four">Grove Street</label>
                </div>
                <div class="group1">
                    <input type="radio" name="four">
                <label for="four">Charles Street</label>
                </div>
                <div class="group1">
                    <input type="radio" name="four">
                <label for="four">Park Drive</label>
                </div>
            </div>
            <hr>
            <p>5.  Edgar Allan Poe got the inspiration for "The Cask of Amontillado" in this place when he returned to Boston in 1827.</p>
            <div>
                <div class="group1">
                    <input type="radio" name="five">
                <label for="five">The Boston Opera House</label>
                </div>
                <div class="group1">
                    <input type="radio" name="five">
                <label for="five">Fort Independence on Castle Island</label>
                </div>
                <div class="group1">
                    <input type="radio" name="five">
                <label for="five">Old City Hall</label>
                </div>
                <div class="group1">
                    <input type="radio" name="five">
                <label for="five">The Armory of the First corps of Cadets</label>
                </div>
                <div class="group1">
                    <input type="radio" name="five">
                <label for="five">Armory Museum of th e Great and Honorable Artillery Company</label>
                </div>
            </div>
            <hr>
            <p>6.  The ghost of the "little girl in white" haunts which Boston burying ground?</p>
            <div>
                <div class="group1">
                    <input type="radio" name="six">
                <label for="six">Copp's Hill Burying Ground</label>
                </div>
                <div class="group1">
                    <input type="radio" name="six">
                <label for="six">Old Granary burying ground</label>
                </div>
                <div class="group1">
                    <input type="radio" name="six">
                <label for="six">Mount Auburn Cemetery</label>
                </div>
                <div class="group1">
                    <input type="radio" name="six">
                <label for="six">Central Burying Ground</label>
                </div>
                <div class="group1">
                    <input type="radio" name="six">
                <label for="six">King's Chapel Burying Ground</label>
                </div>
            </div>
            <hr>
            <p>7. "Jolly Jane" Toppan was a:</p>
            <div>
                <div class="group1">
                    <input type="radio" name="seven">
                <label for="seven">Fan Dancer at the Old Howard in Scollay Square</label>
                </div>
                <div class="group1">
                    <input type="radio" name="seven">
                <label for="seven">Madame of a Beacon Hill brothel</label>
                </div>
                <div class="group1">
                    <input type="radio" name="seven">
                <label for="seven">Hanged for a witch on Boston Common</label>
                </div>
                <div class="group1">
                    <input type="radio" name="seven">
                <label for="seven">A rare female serial killer</label>
                </div>
                <div class="group1">
                    <input type="radio" name="seven">
                <label for="seven">Model for the BPL's "Bacchante" statue</label>
                </div>
            </div>
            <hr>
            <p>8.  Workmen excavating the Boston subway on Boylston Street uncovered:</p>
            <div>
                <div class="group1">
                    <input type="radio" name="eight">
                <label for="eight">The lost King's Chapel Communion Service</label>
                </div>
                <div class="group1">
                    <input type="radio" name="eight">
                <label for="eight">A strongbox full of gold coins</label>
                </div>
                <div class="group1">
                    <input type="radio" name="eight">
                <label for="eight">A mass grave of British soldiers</label>
                </div>
                <div class="group1">
                    <input type="radio" name="eight">
                <label for="eight">An indian fish weir</label>
                </div>
                <div class="group1">
                    <input type="radio" name="eight">
                <label for="eight">The Boston Stone</label>
                </div>
            </div>
            <hr>
            <p>9.  The "Dance of Death" killed 44 Bostonians at:</p>
            <div>
                <div class="group1">
                    <input type="radio" name="nine">
                <label for="nine">The Pickwick Club</label>
                </div>
                <div class="group1">
                    <input type="radio" name="nine">
                <label for="nine">The Cocoanut Grove</label>
                </div>
                <div class="group1">
                    <input type="radio" name="nine">
                <label for="nine">The Old Howard</label>
                </div>
                <div class="group1">
                    <input type="radio" name="nine">
                <label for="nine">The Boston Opera House</label>
                </div>
                <div class="group1">
                    <input type="radio" name="nine">
                <label for="nine">Blinstrub's Village</label>
                </div>
            </div>
            <hr>
            <p>10.  "Hic Liber Walton's Cute Compactus Est" is:</p>
            <div>
               <div class="group1">
                <input type="radio" ten>
                <label for="ten">The motto of the Boston Public Library</label>
               </div>
                <div class="group1">
                    <input type="radio" ten>
                <label for="ten">On a banner in the Senate Chamber of the State House</label>
                </div>
                <div class="group1">
                    <input type="radio" ten>
                <label for="ten">Daniel Webster's last words</label>
                </div>
                <div class="group1">
                    <input type="radio" ten>
                <label for="ten">The title of a book in the Boston Athenaeum</label>
                </div>
                <div class="group1">
                    <input type="radio" ten>
                <label for="ten">What Nathaniel Hawthorne said to the ghost of Rev. Thaddeus Mason Harris</label>
                </div>
            </div>
            <p class="single" style="text-align: center;">Quiz taken from "The Next Phase Blog"</a></p>
        </form>
    </div>
    
    <%- include("../partials/footer.ejs")%>
    
  </body>
</html>