<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/header.ejs")%>
  <body>
    <%- include("../partials/nav.ejs")%>
    <h2>Boston Trivia</h2>
    <div class="trivia content">
        <img class="fireworks" src="../212323546ba-colorful-fireworks-animated-gif-pic.gif" alt="">
        <h3>BOSTON IS NAMED AFTER A TOWN IN ENGLAND.</h3>
<p>Many of the city's first settlers came from Boston, England and simply kept the name.</p>

<h3>REVERE BEACH WAS THE COUNTRY'S FIRST PUBLIC BEACH.</h3>
<p>This lovely stretch of sand was established in 1896.</p>

<h3>BOSTON BUILT AMERICA'S FIRST SUBWAY IN 1897.</h3>
<p>The Tremont Street Subway is also the third in the world to use electric traction.</p>

<h3>THE OLDEST PUBLIC PARK IN THE USA IS IN BOSTON.</h3>
<p>Boston Common was established in 1634 and is still a popular place for folks to gather.</p>

<h3>THE FIG NEWTON WAS NAMED AFTER A BOSTON SUBURB.</h3>
<p>The city of Newton, Massachusetts was the inspiration for the name of this popular cookie.</p>

<h3>THE FIRST DUNKIN' DONUTS WAS LOCATED NEAR BOSTON.</h3>
<p>The iconic donut shop could be found in Quincy, Massachusetts, about 11 miles from Boston.</p>

<h3>THE VERY FIRST CHOCOLATE FACTORY IN THE USA WAS IN BOSTON.</h3>
<p>The year was 1765 when Walter Baker opened his chocolate factory in Dorchester.</p>

<h3>THE NICKNAME “BEANTOWN” LITERALLY COMES FROM BEANS.</h3>
<p>The name came as a result of a love among the city's earliest settlers for baked beans in molasses.</p>

<h3>YOU CAN DRIVE 90 FEET UNDERGROUND IN BOSTON.</h3>
<p>Ted Williams Tunnel is the deepest in America, approximately 90 feet under the earth.</p>

<h3>THERE WAS NO CHRISTMAS IN BOSTON BETWEEN 1659 & 1681.</h3>
<p>The Pilgrims believed it was a corrupt holiday and banned any celebrations during that time period.</p>

<h3>MOLASSES ONCE KILLED 21 PEOPLE AND INJURED 100 MORE.</h3>
<p>In 1919, a storage tank that held millions of gallons of molasses burst and flooded the city, killing 21 people and several horses and injuring more than 100 others. To hear more Boston stories similar to this one, check out a Boston Ghost Tour.</p>

<h3>THERE ARE NO HAPPY HOURS AT BARS IN BOSTON.</h3>
<p>It's against the law since 1984 when a drunk driver killed 20-year-old Kathleen Barry.</p>

<h3>THE FIRST AMERICAN LIGHTHOUSE WAS BUILT IN BOSTON.</h3>
<p>Built in 1716, the Little Brewster Lighthouse was the first-ever in the USA.</p>

<h3>THE BOSTON UNIVERSITY BRIDGE IS FAMOUS FOR SOMETHING NO OTHER BRIDGE CAN CLAIM.</h3>
<p>This unique bridge in the only one in the world where a boat can sail under a train going under a vehicle driving under an airplane.</p>

<h3>THE JOHN HANCOCK TOWER PREDICTS THE WEATHER.</h3>
<p>A series of colored lights atop this iconic building lets residents know whether it's going to rain, snow, be cloudy or clear. If the lights are flashing red, it not only means there's rain coming, but also that the Red Sox game is rained out.</p>

<h3>THE BIGGEST ART HEIST IN HISTORY TOOK PLACE IN BOSTON.</h3>
<p>More than $500 million worth of paintings were stolen from the Isabella Stewart Gardner Museum in 1990.</p>

<h3>FENWAY PARK IS THE OLDEST ORIGINAL MAJOR LEAGUE BASEBALL STADIUM STILL IN USE.</h3>
<p>It opened in 1912 and is home to the Boston Red Sox.</p>

<h3>THE PIE THAT BEARS THE CITY'S NAME WAS INVENTED AT A LOCAL HOTEL.</h3>
<p>The Boston Cream Pie was invented at the Omni Parker House and is the official dessert of the state.</p>

<h3>CANDLEPIN BOWLING WAS INVENTED IN BOSTON.</h3>
<p>It was invented in 1880 in Worcester by Justin White, a local bowling center owner.</p>

<h3>THE FIRST THANKSGIVING IN THE COUNTRY WAS CELEBRATED IN BOSTON.</h3>
<p>Celebrated by the Pilgrims after their first harvest in the New World in 1621, the feast lasted three days.</p>

<h3>THE LAST RELIGIOUS MARTYR IN NORTH AMERICA WAS EXECUTED IN BOSTON COMMON.</h3>
<p>Mary Dyer was hanged in June of 1660 for repeatedly defying the ban on Quakers.</p>

<h3>BOSTON IS HOME TO THE FIRST COLLEGE IN NORTH AMERICA.</h3>
<p>Harvard was founded in 1636.</p>

<h3>THE RED SOX WERE NOT ALWAYS CALLED THE RED SOX.</h3>
<p>Before owner John Taylor named them the Red Sox in 1907, the team was called the Americans, Pilgrims, Somersets, Puritans and Plymouth Rocks.</p>

<h3>EVERY YEAR ON DECEMBER 16, THERE IS A REENACTMENT OF THE BOSTON TEA PARTY.</h3>
<p>To commemorate that fateful event, there is a celebration and reenactment in the Boston Harbor.</p>

<h3>THE RENOWNED CHRISTMAS CAROL, O' LITTLE TOWN OF BETHLEHEM, WAS WRITTEN BY A BOSTONIAN.</h3>
<p>Phillip Brooks, the 9th rector of Trinity Church in Boston, wrote the famous tune in 1868 after visiting the Holy Land.</p>
<p>Ref: https://www.trolleytours.com/boston/facts</p>
    </div>
    <a href="#" class="back-to-top">
      <span class="material-icons"><i class="fa-solid fa-arrow-up"></i></span>
  </a>
  <%- include("../partials/footer.ejs")%>
  </body>
</html>